@import url("https://fonts.googleapis.com/css2?family=Lato&family=Roboto+Mono&display=swap");
:root {
	--font1: "Lato", sans-serif;
	--font2: "Roboto Mono", monospace;
}
.error {
	color: red;
}

h1 {
	font-family: var(--font2);
	font-size: 32px;
	letter-spacing: 2px;
	text-align: center;
}
h2 {
	font-family: var(--font1);
	font-size: 22px;
	letter-spacing: 2px;
	padding: 3% 0;
}
#coleccion {
	color: #33b3b6;
}
.numeroDatos {
	display: flex;
	gap: 4px;
}
.numeroDatos label {
	font-family: var(--font1);
	font-size: 22px;
}
#total {
	font-family: var(--font2);
	font-size: 22px;
	font-weight: bold;
	color: #33b3b6;
}

.table td, .table th {
    font-family: var(--font1);
	font-size: 16px;
}
